body {
    background-color: #303446; 
}

.editor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#editor {
    margin-top: 0.625em;
    /* 10px equivalent in em */
    content: 100%;
}

#terminal-container {
    background-color: #232634;
    color: #232634;
    font-family: 'Courier New', Courier, monospace;
}

.userInteraction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px; 
}


button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #ca9ee6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

#instructorNameSelect {
    background-color: #a5adce;
    border-radius: 5px;
}

header {
    display: flex; /* Arrange child elements horizontally */
    align-items: center; /* Vertically center child elements */
    background-color: #a5adce;
    padding: 20px; 
    border-bottom: 2px solid #ccc;
    color: #303446;
}

header h1 {
    margin-left: 10px; 
}

