<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodEd</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/xterm.css">
  <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
</head>

<header>
  <a href="http://localhost:3000/">
    <img src="imgs/favicon.ico" alt="CodEd">
  </a>
  <h1>CodEd</h1>
</header>

<body>
   <p id="username"><%= username %></p> 
  <div class="userInteraction">
    <div></div>
    <div class="SRbutton">
      <button id="saveButton">Save</button>
      <button id="runButton">Run</button>
      <% if (accountType === 'student') { %>
        <select id="instructorNameSelect" name="instructorName">
          <% instructors.forEach(instructor => { %>
            <option value="<%= instructor.username %>"><%= instructor.username %></option>
          <% }); %>
        </select>
        <button id="submit">Submit</button>
    <% } %>
    </div>
  </div>
  <div class="editor-container">
    <div id="editor" autofocus>
         <form action="/editor/fileUpload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput">
            <button id="fileUploadButton">Upload</button>
        </form>
      <!-- code editor goes here  -->
    </div>
       <div id="terminal-container">
    </div>
  </div>

  <script src="../javascripts/editor.bundle.js"></script>
</body>

</html>
