<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/instructor.css">
    <title>CodEd</title>
</head>

<header>
    <a href="http://localhost:3000/">
        <img src="imgs/favicon.ico" alt="CodEd">
    </a>
    <h1>CodEd</h1>
</header>

<body>
    <p id="username">
        <%= username %>
    </p>
    <button id="editor">Editor</button>
    <ul id="userList">
        <h2>User Uploads</h2>
        <% userUploads.forEach(upload => { %>
            <li>
                <a href="http://localhost:3000/editor"><%= upload.uniqueID %></a>
                <span><%= upload.timestamp %></span>
            </li>
        <% }); %>
    </ul>

    <script src="/javascripts/goToEditor.js"></script>
</body>

</html>
