<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
</head>
<body>
    <h1>User Registration</h1>
    <form action="/users/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button id="submit" type="submit">Register</button>
        <label for="accountType">Account Type:</label>
        <select id="accountType" name="accountType" required>
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select><br><br>
    </form>
</body>
</html>
